body {
  background-image: url("https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?t=st=1732661354~exp=1732664954~hmac=6d4936e6f9ca507d49718dbf206d773baffd057aff69e08153ca5b77ae64a317&w=1380");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  backdrop-filter: blur(5px);
  border-radius: 8px;
  border-color: white;
}

label {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.form-group {
  width: 70%;
  margin: auto;
}

#submit{
  background-color: white;
  border-radius: 0px;
}

#submit:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
